body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: flex;
}

.header-logo span {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-lin {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-container {
  display: flex;
  width: 1158px;
  padding: 0 15px;
}

.header-menu-lin:hover,
.header-menu-lin:focus {
  color: #404bbf;
}

.header-contact {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contact-list {
  display: flex;
  gap: 40px;
}

.header-contact-item {
}

.header-contact-lin {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contact-lin:hover,
.header-contact-lin:focus {
  color: #404bbf;
}

.solution {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/solution-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 188px 0;
}

.solution-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.solution-btn {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  display: flex;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.solution-container {
  margin: 0 auto;
}

.solution-btn:hover {
  background-color: #404bbf;
}

.solution-btn:focus {
  background-color: #404bbf;
}












.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.offer {
  background-color: #ffffff;
  padding: 120px 0;
}

.offer-list {
  background-color: #ffffff;
  display: flex;
  gap: 24px;
}

.offer-item {
  width: calc((100% - 72px) / 4);
}

.offer-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.offer-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}







.content-team {
padding: 32px 0;

}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.team-list {
  background-color: #f4f4fd;
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100%-72px)/4);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
}

.team-titles {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

}



.team-picture {
 display: block;

}








.container-portfolio {

}


.content-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;

}



.portfolio {
  background: #fff;
  padding: 120px 0;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;

  margin-bottom: 72px;
}

.portfolio-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  
}

.item {
  width: calc((1158 - 48px) / 3);
}

.portfolio-picture {
  display: block;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}













.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-span {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.visually-hidden {
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.icon-list {
display: flex;
justify-content: center;
gap: 20px;
}
.icon-item {
width: 40px;
height: 40px;
}
.icon-link {
display: flex;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
background-color: #404bbf;
border-radius: 50%;
}
.icon-icon {
fill: #F4F4FD;
}

.offer-item-icon {


  background-color: #F4F4FD;
}

.offer-icon {
  width: 264px;
  height: 112px;
  background-color: #F4F4FD;
display: flex;
justify-content: center;
align-items: center;
border-radius: 4px;
}